{% extends "base_articles.html" %}
{% load static %}

{% block title %}
Hello World!
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}

<div id="mainarticle">
    <h1>{{ articleitem.title }} </h1>

    <h3 id="article_subtext"><em>by {{ articleitem.writer }}, written on {{ articleitem.updated_at }}</em></h3>
    <hr>
    <div style="background-image:url({% static articleitem.thumbnail_path %})" class="article_image"></div>
    <hr>
    <div id="mainarticlebody">
        {% autoescape off %}

        {{ articlebody }}

        {% endautoescape %}
    </div>
</div>
<!--
<section id = "main_section">
     <h1>This is the best webpage ever developed</h1>
    <p>Firstly: There's nothing like a good wank.</p>
</section>
<aside id = "sidebar">
    <ul>
        <li>                 nav links.                </li>
        <li>                 nav links.                </li>
        <li>                 nav links.                </li>
        <li>                 nav links.                </li>
        <li>                 nav links.                 </li>
    </ul>
</aside>
-->
{% endblock %}