<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href = "static/css/blockmodel.css"/>
    <link rel="stylesheet" href = "static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href = "static/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href = "static/css/bootstrap-reboot.min.css"/>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</head>
<body>
    <div id = "wrapper">
        <header id = "main_header">
            <hgroup>
                <h1 id = "main_title">Stuff</h1>
            </hgroup>
        </header>

        <nav id = "main_menu">
            <ul>
                <li>Home</li>
                <li>Videos</li>
                <li>The Team</li>
                <li>Sempers</li>
                <li>Contact</li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}

        <footer id = "main_footer">
            Copyright 2017: Lukas Inc.
        </footer>
    </div>
</body>
    <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
              showSlides(slideIndex += n);
            }

            function currentSlide(n) {
              showSlides(slideIndex = n);
            }

            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("dot");
              if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
              }
              for (i = 0; i < dots.length; i++) {
                  dots[i].className = dots[i].className.replace(" active", "");
              }

              slides[slideIndex-1].style.display = "block";
              dots[slideIndex-1].className += " active";
    }
    </script>
</html>