                <aside id="newssummary">
                    <header>
                        <h1 id="newssummaryheader">{% now "d" %}</h1>

                        <p id="newssummarysubtitle">{% now "M" %} {% now "Y" %}</p>

                    </header>
                    <ul id="newssummarylist">
                        {% for newsItem in newsItems|slice:"0:5" %}
                        <li class="newssummarylistitem">
                            <a href="{% url 'article' newsItem.id %}">
                                <div>
                                    <span>{{ newsItem.type | upper }}</span><br/>
                                    <b>{{ newsItem.title }}</b><br/>
                                    <em>Posted {{ newsItem.timeDiff }} ago. </em><br/>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        {% for newsItem in newsItems|slice:"6:10" %}
                        <li class="newssummarylistitem hidden_on_small" >
                            <a href="{% url 'article' newsItem.id %}">
                                <div>
                                    <span>{{ newsItem.type | upper }}</span><br/>
                                    <b>{{ newsItem.title }}</b><br/>
                                    <em>Posted {{ newsItem.timeDiff }} ago. </em><br/>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        <li style="border:none;margin-top:12px;"></li>
                    </ul>
                </aside>