*{
    padding: 0px;
    margin: 0px;
}
#main_title {
    color: gold;
    font: bold 45px verdana,sans-serif
}
h1 {
    font: bold 20px verdana,sans-serif
}
h2 {
    font: bold 14px verdana,sans-serif
}
header,section,footer,aside,nav,article,figure,figcaption,hgroup {
    display: block;
}
body {
    text-align: center; 
    
    
}
#main_page{
     font-size:12px;
}
#main_body{
    background-color:#FFFAFA;
}
#wrapper{ 
    background-color:white;
    width: 56%;
    max-width:1060px;
    height: 100%;
    margin: 15px auto;
    text-align:left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main_header{
    background: rgba(144, 32, 16);
    border: 1px solid #999999;
    padding: 20px;
}
#main_menu {
    background: #CCCCCC;
    padding:5px 15px;
    
    
}
#main_menu ul {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana,sans-serif;
    margin: auto;
}
#main_menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana,sans-serif;
    
}
#newssummarylist{
    font-size:12px;
    margin-bottom:0px;
}
#newssummarylist li{
    border-top: rgba(196, 216, 226,0.6) 1px solid;
    list-style:none;
    text-align:left;
    margin-bottom:7px;
    
    padding-left:7px;
}
#newssummarylist li span{
    color:#C4D8F2;
    font-weight:500;
    font-size:13px;
}
#newssummarylist li em{
    color:gray;
    font-size:11px;
}
#newssummarylist li .newssumarylisttitle{
    font-weight: bold;
    
}
#main_section {
    float: left;
    width: 660px;
    margin: 20px;
}
#sidebar {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;  
    background: #CCCCCC;
}
#main_footer{
    clear: both;
    text-align: center;
    border-top: 2px solid #999999;
    padding: 20px;
}
article {
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
}
article footer {
    text-align: right;
}
time {
    color: #999999;
}
figcaption {
    font: italic 14px verdana,sans-serif;
}
#slideshow_section{
  max-width: 1000px;
  max-height: 700px;
  position: relative;
  margin: auto;
}
#newsheader{
    margin-top: 27px;
    /*border-bottom: 1px gray solid;
   
    border-top: 2px black solid;*/
}
#newsheader h1{
    font: normal 50px verdana,sans-serif;
}
#newssummary{
    margin-top: 27px;
    margin-right: 5px;
    padding-right:3px;
    text-align:center;
    margin-bottom: 0px;
    border-left: rgba(196, 216, 226,0.8) 1px solid;
}
#newsheader:before,#newssummary:before { 
  content:""; 
  float:left; 
  background:black; 
  width:100%; 
  height:5px; 
  border-radius: 3px;
}
#newsheader:after { 
  content:""; 
  float:left; 
  background:gray; 
  width:100%; 
  height:2px; 
  margin-bottom:5px;
  border-radius: 3px;
}
#newssummaryheader {
    font: bold  80px verdana,sans-serif;/*85*/
    color:  rgba(210, 32, 16);;
    text-align:center;
    display:inline;
    padding-top: 15px;
    margin-top: 10px;
    
    display: inline-block;
    background-color: ;
    /*new:*/
    
    line-height: 34px;
    height: 35px;
}
#newssummarysubtitle {
    margin-top: 0px;
    font: italic 14px verdana,sans-serif;
    color: gray;
    text-align:center;
}
#newssummary li{
   
    margin-right: 5px;  
}
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  position:absolute;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position:absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-moz-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
}